.project {
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.project-icon {
    width: 200px;
    height: 200px;
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-header {
    font-size: 1.5em;
}

.atx {
    color: black;
    border-radius: 10px;
}

.project-info {
    margin-left: 20px;
    margin-right: 20px;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.more-info {
    margin-top: 10px;
}

/* .more-info:hover {
    text-shadow: 0px 0px 2px blue;
    transition: text-shadow 0.15s ease;
} */

.tag-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.tag {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
    padding: 5px;
}
